<div *ngIf="!joined">
  <strong>Ingrese con su nombre</strong>
  <div class="form-group row mb-2">
    <label class="col-form-label col-md-3">Nombre</label>
    <div class="col-md-9">
      <input type="text" class="form-control" name="userName" [(ngModel)]="userName" />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-9 offset-3">
      <button type="button" class="btn btn-primary" (click)="join()">
        Enter
      </button>
    </div>
  </div>
</div>

<div *ngIf="joined">
  <div id="chat">
    <div *ngFor="let message of conversation">
      <div><strong>{{message.userName}}:</strong> {{message.message}}</div>
    </div>
  </div>
  <input class="form-control mb-1" type="text" [(ngModel)]="messageToSend" name="messageToSend" />
  <button class="btn btn-primary" (click)="sendMessage()">Send</button>
  <button class="btn btn-secondary" (click)="leave()">Leave</button>
  <mat-card>
    <mat-card-content>
      <input class="form-control mb-1" type="text" [(ngModel)]="serverNameInput" name="messageToSend" />
      <button mat-raised-button color="primary" (click)="onClikCreateServer()">Crear Servidor</button>
    </mat-card-content>
  </mat-card>

  <mat-selection-list #shoes [multiple]="false" (selectionChange)="onSelectionChange($event)">
    <mat-list-option *ngFor="let server of activeServers" [value]="server">
      {{server.name}} ({{server.jugadoresJoined}})
    </mat-list-option>
    <mat-card-footer>
      <button mat-raised-button color="primary" [disabled]="!selectedServer" (click)="onClikJoinServer()">Entrar al server</button>
    </mat-card-footer>
  </mat-selection-list>
</div>

